.order-form__service-list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.order-form__service-card {
    box-shadow: 0 5px 15px rgb(191, 176, 176);
}

.order-form__input {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    margin-top: 0px;
}

.order-form__text {
    font-size: 20px;
}

.order-form__button {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.notice-no-services {
    padding: 300px 0;
    font-size: 25px;
}