{% extends 'base.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'orders/css/orders.css' %}">
{% endblock styles %}

{% block content %}
    {% if form.fields.services.queryset %}
        {% if form.services.errors %}
            {% for service_error in form.services.errors %}
                <ul class="uk-list uk-margin-remove-top">
                    <li>
                        <div class="uk-margin-remove-top uk-alert uk-alert-danger">
                            <p class="uk-text-center">{{ service_error }}</p>
                        </div>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}

        <form action="{% url 'orders:create' %}" method="POST" id="order-form">
            {% csrf_token %}
            <div class="uk-container uk-width-expand">
                <div class="uk-child-width-1-4@m order-form__service-list" uk-grid>
                    {{ form.services }}
                </div>
            </div>
            <button type="submit" class="order-form__button uk-button uk-button-primary">Create order</button>
        </form>
    {% else %}
        <p class="uk-text-center notice-no-services">Here will be service list for order.</p>
    {% endif %}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script rel="script" src="{% static 'orders/js/orders.js' %}"></script>
{% endblock scripts %}