<noscript>
    <div class="uk-margin-remove-top uk-alert uk-alert-danger" uk-alert>
        <p class="uk-text-center">Your browser does not support JavaScript! Not all functions to work.</p>
    </div>
</noscript>